@import "vars";

body {
  background: #000000;
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}
nav {
  width: $main-width;
  height: 58px;
  margin: 8px auto;
  display: flex;
  align-items: center;
  .logo {
    color: $main-color;
    font: 400 24px/36px "Actor", sans-serif;
    margin-right: 6%;
  }
  ul {
    width: 27vh;
    display: flex;
    list-style: none;
    justify-content: space-around;
    a {
      font: 400 18px/36px "Actor", sans-serif;
      text-decoration: none;
      color: $main-color;
      padding: 10px;
      letter-spacing: 3px;
      word-spacing: 2px;
    }
    a:hover {
      transform: scale(1.1);
      cursor: pointer;
      background-color: rgba(255, 255, 0, 0.665);
      border-radius: 4px;
      transition: all 0.1s ease-in-out;
      // transition-delay: 0.2s;
    }
  }
}

main {
  text-align: center;
}
.head {
  width: $main-width;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h2 {
      color: $main-color;
      text-align: left;
      font: 500 84px/102px "Poppins", sans-serif;
    }
    p {
      color: $main-color;
      text-align: left;
      font: 400 22px/34px "Source Sans Pro", sans-serif;
      position: relative;
      width: 410px;
      height: 98px;
    }
  }
}
img {
  max-width: 100%;
}
// phone
@media screen and (min-width: 320px) {
  .main {
    max-width: 100%;
    align-items: center;
  }
  .imag {
    width: 100%;
  }
  nav {
    max-width: 85%;
    display: flex;
    justify-content: space-around;
  }
  .head {
    max-width: 100%;
    margin-top: 35%;
    display: flex;
    font-size: 20%;
    flex-wrap: wrap;
    justify-content: center;
  }
  nav ul li a {
    max-width: 100%;
    font-size: 78%;
  }
  .head .text {
    align-items: center;
  }
  .head .text h2 {
    width: 80%;
    font: 200 30px/20px "Poppins", sans-serif;
    text-align: center;
    margin-top: 0%;
  }
  .head .text p {
    width: 100%;
    font: 200 20px/30px "Source Sans Pro", sans-serif;
    margin-bottom: 20%;
    text-align: center;
  }
}

// ipad
@media screen and (max-width: 768px) {
  .main {
    max-width: 100%;
    align-items: center;
  }
  .img {
    max-width: 50%;
    height: auto;
  }
  nav {
    max-width: 85%;
    display: flex;
    justify-content: space-around;
  }
  .head {
    max-width: 100%;
    margin-top: 25%;
    display: flex;
    flex-wrap: wrap;
  }
  nav ul li a {
    max-width: 100%;
    font-size: 78%;
  }
  .head .text {
    align-items: center;
    width: 73%;
  }
  .head .text h2 {
    width: 80%;
    font: 200 70px/20px "Poppins", sans-serif;
    text-align: center;
    margin-top: 0%;
  }
  .head .text p {
    width: 100%;
    font: 200 20px/30px "Source Sans Pro", sans-serif;
    margin-top: -25px;
    margin-bottom: 20%;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) and (max-width: 2280px) {
  nav {
    width: 90%;
    height: 58px;
    margin: 8px auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .logo {
    color: $main-color;
    font: 400 24px/36px "Actor", sans-serif;
    margin-right: 6%;
  }

  .head {
    width: 90%;
    margin-top: -3%;
    display: flex;
    flex-wrap: wrap;
  }
  .img {
    width: 50%;
    height: auto;
    margin-bottom: 10%;
  }

  nav ul li {
    display: block;
    padding: -5px;
  }
  nav ul li a {
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-size: 22px;
  }
  .head .text {
    width: 50%;
    display: flex;
    align-items: flex-start;
  }
  .head .text h2 {
    width: 80%;
    font: 500 84px/102px "Poppins", sans-serif;
    text-align: left;
  }
  .head .text p {
    display: block;
    width: 70%;
    font: 400 22px/34px "Source Sans Pro", sans-serif;
    text-align: left;
  }
}
